@font-face {
    font-family: isans;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/eot/IRANSansWeb_Bold.eot');
    src: url('../fonts/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/woff2/IRANSansWeb_Bold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../fonts/woff/IRANSansWeb_Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}

@font-face {
    font-family: isans;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/eot/IRANSansWeb_Medium.eot');
    src: url('../fonts/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/woff2/IRANSansWeb_Medium.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../fonts/woff/IRANSansWeb_Medium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}

@font-face {
    font-family: isans;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/eot/IRANSansWeb_Light.eot');
    src: url('../fonts/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/woff2/IRANSansWeb_Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../fonts/woff/IRANSansWeb_Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/ttf/IRANSansWeb_Light.ttf') format('truetype');
}

@font-face {
    font-family: isans;
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/eot/IRANSansWeb_UltraLight.eot');
    src: url('../fonts/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../fonts/woff/IRANSansWeb_UltraLight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}

@font-face {
    font-family: isans;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/eot/IRANSansWeb.eot');
    src: url('../fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/woff2/IRANSansWeb.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../fonts/woff/IRANSansWeb.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/ttf/IRANSansWeb.ttf') format('truetype');
}

* {

    font-family: isans ;
}




#logoarea{
    position: relative;
    z-index: 3;
}
#logoarea img{
    margin: 100px auto;
}

.button-project{
    margin: 0 50%;



}
.button-project a{ background-color: #ADE013;
    padding: 5px 10px;
    border-radius: 100%;
    color: #fff; }
.button-project a::after{
    content: "سفارش طراحی";
    padding: 10px;
    display: none;

}
.button-project:hover a{
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
.button-project:hover a::after{display: inline;}
.button-project:hover{
    margin:0 40%;}
/*background-wall*/
.menu-aria{
    background-color: #111111;
    position: relative;
    z-index:25;
    margin-top:560px;
    opacity: 0.8;
    height:40px;
    color: #ffffff;
    font-size: 17px;
}
.background-aria{
    background: url("http://localhost:63342/oxtay/img/background1.png") fixed  ;
    height: 600px;
}
.menu-aria i{font-size: 20px;

}
.menu-aria li a{
    color: #ffffff;
    padding: 0.7rem 1.5rem;
}
/*header*/
.social-icons{
    background-color:#ADE013 ;
    height: 35px;
    font-size: 22px;
}
.social-icons i{
    padding-top: 6px;
    padding-right: 19px;
}
.ins-color{
    color: #BD39A6;
}
.tel-color{
    color: #2FADE6;
}
.wha-color{
    color: #0DC143;
}
.fac-color{
    color: #3B5998;
}
/*social-icons*/
body{
    background-image: url("http://localhost:63342/oxtay/img/hypnotize.png");
}
.nemome-kar div{
    border: 2px solid #757575;


}
.nemome-kar div:hover{
    border: 4px solid #757575;

}


.nemome-kar div figure{
    margin: 0;
    position: relative;
}
.nemome-kar div .callout{
    padding: 0;
}
.callout{
    padding: 0;
    margin: 0;
    border-radius: 0;
}
.nemone-meta p{
    position: absolute;
    top:0;
    opacity: 0;
    font: 18px bold isans;
    text-align: center;
    display: inline;
    background-color: #1a1c26;
    color: #ffffff;
    width: 100%;
    padding: 8% 0px;

    height: 28%;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: transform 0.1s, all 0.2s;
    -moz-transition: transform 0.1s, all 0.2s;
    -ms-transition: transform 0.1s, all 0.2s;
    -o-transition: transform 0.1s, all 0.2s;
    transition: transform 0.1s, all 0.2s;
}
.nemoone-meta-tag{
    position: absolute;
    width: 0;
    height: 0;
    border-left: 80px solid transparent;
    border-bottom: 50px solid transparent;
    border-top: 80px solid #ADE013;
    top: 0;
    right: 40%;
    opacity: 0;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: transform 0.1s, all 0.2s;
    -moz-transition: transform 0.1s, all 0.2s;
    -ms-transition: transform 0.1s, all 0.2s;
    -o-transition: transform 0.1s, all 0.2s;
    transition: transform 0.1s, all 0.2s;
}
.nemoone-meta-tag i{

    position: absolute;
    bottom: 45px;
    font-size: 23px;
    color: #ffffff;
    right: 9px;
}
.nemome-kar figure:hover .nemone-meta p{
    -webkit-transition: transform 0.1s, all 0.2s;
    -moz-transition: transform 0.1s, all 0.2s;
    -ms-transition: transform 0.1s, all 0.2s;
    -o-transition: transform 0.1s, all 0.2s;
    transition: transform 0.1s, all 0.2s;
    top: 45%;
    opacity: 0.7;

}
.nemome-kar figure:hover .nemoone-meta-tag{
    -webkit-transition: transform 0.1s, all 0.2s;
    -moz-transition: transform 0.1s, all 0.2s;
    -ms-transition: transform 0.1s, all 0.2s;
    -o-transition: transform 0.1s, all 0.2s;
    transition: transform 0.1s, all 0.2s;
    opacity: 1;
    right: 0;
cursor: pointer;
}
.comments-tittle{
    text-align: center;
    margin-top: 20px;
    font-family: isans;
}
.comments-tittle h4{
    color: #757575;
}
.comments{
    -webkit-border-radius: 0 75px 0 0 ;
    -moz-border-radius: 0 10px 0 0 ;
    border-radius: 0 76px 0 0 ;}
.comments figure img{
    width: 91% !important;
    border-radius: 1%;
    float: right;
}
.comments figure{
    padding: 0;
    margin: 0;
}
.comments span{
    margin-top: 60px;
    display: inline-block;
    font-weight: 700;
    line-height: 1.5;
}
.comments-cat{
    font: 12px isans;
    color: #deb609;
}